# Rust/Cargo bits
target
Cargo.lock
rls

# Website bits
*.mp3
*.m4a
*.logicx
recordings

# Miscellaneous tooling bits
.python-version
.ruby-version

# IDE
.idea
.sublime-*
*.iml
.vscode

# Writing tools
.Ulysses-*

# Vim nonsense
*.swp

# Build output
link-against-Rust